{% block indexActions %}
    {% embed "CommonBundle:Partial:blocks.html.twig" %}
        {% block actions %}
            <a href="{{ path('building_add')}}">Ajouter un bâtiment</a>
        {% endblock actions%}
    {% endembed %}
{% endblock indexActions %}

{% block formActions %}
    {% embed "CommonBundle:Partial:blocks.html.twig" %}
        {% block actions %}
            <a href="{{ path('site_show', { 'id' : siteId })}}">Retour au site</a>
        {% endblock actions%}
    {% endembed %}
{% endblock formActions %}

{% block showActions %}
    {% embed "CommonBundle:Partial:blocks.html.twig" %}
        {% block actions %}
            <a href="{{ path('site_show', { 'id' : entity.site.id })}}">Retour au site {{ entity.site.name }}</a><br />
            {% if entity is defined and entity is not null %}
                <a href="{{ path('building_edit', {'id': entity.id })}}">Modifier le bâtiment</a><br />
                <a href="{{ path('building_delete', {'id': entity.id })}}">Supprimer le bâtiment</a><br />
            {% endif %}
        {% endblock actions%}
        
        {% block reports %}
            Rapport de locaux louer
            
        {% endblock reports%}
    {% endembed %}
{% endblock showActions %}

{% block sidebox %}
    {% include 'CommonBundle:Partial:sidebox.html.twig' %}
{#        {% include 'SiteBundle:Unit:addModal.html.twig'%}
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#test">Open #}
{% endblock sidebox %}    