{% block box %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBuilding" aria-expanded="true" aria-controls="collapseBuilding">
                    Locaux
                </a>
                <a href="{{ route }}"><button class="btn btn-default" ng-click="test()">+</button></a>
            </h4>
        </div>
        <div id="collapseBuilding" class="panel-collapse collapse {% if display %} in {% endif %}" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                {% embed "CommonBundle:Listing:listing.html.twig" with {'entities': units} %}

                    {% block showRoute %}
                        {{ path('unit_show', {'id': entity.id })}}
                    {% endblock showRoute%}    

                {% block caption %}{% endblock caption%}

                {% block tableHeader %}
                    {{ listing.header('Numéro')}}
                    {{ listing.header("Type d'espace")}}
                    {{ listing.header('Disponible')}}
                    {{ listing.header('Loué depuis')}}
                    {{ listing.header("Loué jusqu'à")}}
                {% endblock tableHeader%}

                {% block tableBody %}
                    {{ listing.element( entity.no )}}
                    {{ listing.element( entity.unitType )}}
                    {{ listing.element( 'oui' )}}
                    {{ listing.element( '-' )}}
                    {{ listing.element( '-' )}}
                {% endblock tableBody%}

            {% endembed %}
        </div>
    </div>
</div>
{% endblock %} 