{% block box %}
{#    <script>
        angular.module('myApp').controller('addressModalCtrl', function ($http, $scope) {

            $scope.template = null;

            $scope.fetchForm = function () {
             $(".modal-body").html("<img src=/img/loading.gif class='loading' />");

                    var url = '{{ path('address_site_add', {'siteId': entity.id }) }}';

                    $http({
                        method: 'GET',
                        url: url
                    }).success(function (response) {
                        $(".modal-body").html(response);
                    });
                };

                $scope.sendData = function () {

                    var url = '{{ path('address_site_add', {'siteId': entity.id }) }}';

                    $http({
                        method: 'POST',
                        url: url
                    }).success(function (response) {
                        console.log('a;;p');
                    });
                };
            });
    </script>#}

{#    <div ng-controller="addressModalCtrl">#}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAddress" aria-expanded="true" aria-controls="collapseAddress">
                        Adresses
                    </a>
{#                    <button ng-click="fetchForm()" data-toggle="modal" data-target="#myModal">+</button>#}
                    <a href="{{ route }}"><button class="btn btn-default">+</button></a>
                </h4>
            </div>
            <div id="collapseAddress" class="panel-collapse collapse {% if display %} in {% endif %}" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {% for address in addresses %}
                        <div class="side-box">
                            {{ show.property('No. civique', address.streetNumber) }}
                            {{ show.property('Rue', address.street) }}
                            {{ show.property('Ville', address.city.name) }}
                            {{ show.property('Province', address.state.name) }}
                            {{ show.property("Pays", address.country.name) }}
                            {{ show.property("Code postal", address.zipCode) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{#    </div>#}
{% endblock %} 